### Passo 1 - Importar Arquivos e Bibliotecas

In [1]:
#Importing libraries
import pandas as pd

In [2]:
#importing data base
try:
    emails = pd.read_excel(r'Bases de Dados/Emails.xlsx')
    lojas = pd.read_csv(r'Bases de Dados/Lojas.csv', encoding='latin1', sep=';')
    vendas = pd.read_excel(r'Bases de Dados/Vendas.xlsx')


except Exception as err:
    print(f'A classe do erro foi {err.__class__} e o contexto  foi {err.__context__}')
else:
    print('A base de dados foi importada com sucesso')
display(emails)

A base de dados foi importada com sucesso

,Loja,Gerente,E-mail
0,Iguatemi Esplanada,Helena,jpgd7735+helena@gmail.com
1,Shopping Midway Mall,Alice,jpgd7735+alice@gmail.com
2,Norte Shopping,Laura,jpgd7735+laura@gmail.com
3,Shopping Iguatemi Fortaleza,Manuela,jpgd7735+manuela@gmail.com
4,Shopping União de Osasco,Valentina,jpgd7735+valentina@gmail.com
5,Shopping Center Interlagos,Sophia,jpgd7735+sophia@gmail.com
6,Rio Mar Recife,Isabella,jpgd7735+isabella@gmail.com
7,Salvador Shopping,Heloisa,jpgd7735+heloisa@gmail.com
8,Rio Mar Shopping Fortaleza,Luiza,jpgd7735+luiza@gmail.com
9,Shopping Center Leste Aricanduva,Julia,jpgd7735+julia@gmail.com
10,Ribeirão Shopping,Lorena,jpgd7735+lorena@gmail.com
11,Shopping Morumbi,Livia,jpgd7735+livia@gmail.com
12,Parque Dom Pedro Shopping,Maria Luiza,jpgd7735+maria_luiza@gmail.com
13,Bourbon Shopping SP,Cecilia,jpgd7735+cecilia@gmail.com
14,Palladium Shopping Curitiba,Eloa,jpgd7735+eloa@gmail.com
15,Passei das Águas Shopping,Miguel,jpgd7735+miguel@gmail.com
16,Center Shopping Uberlândia,Arthur,jpgd7735+arthur@gmail.com
17,Shopping Recife,Heitor,jpgd7735+heitor@gmail.com
18,Shopping Vila Velha,Bernardo,jpgd7735+bernardo@gmail.com
19,Shopping SP Market,Davi,jpgd7735+davi@gmail.com
20,Shopping Eldorado,Theo,jpgd7735+theo@gmail.com
21,Shopping Ibirapuera,Lorenzo,jpgd7735+lorenzo@gmail.com
22,Novo Shopping Ribeirão Preto,Gabriel,jpgd7735+gabriel@gmail.com
23,Iguatemi Campinas,Pedro,jpgd7735+pedro@gmail.com
24,Shopping Barra,Benjamin,jpgd7735+benjamin@gmail.com
25,Diretoria,Diretoria,jpgd7735+diretoria@gmail.com

Criar uma tabela para cada loja

In [3]:
#merging table of sells with stores
vendas = vendas.merge(lojas, on='ID Loja')
display(vendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Loja
0,1,2019-01-01,1,Sapato Estampa,1,358,358,Iguatemi Esplanada
1,1,2019-01-01,1,Camiseta,2,180,360,Iguatemi Esplanada
2,1,2019-01-01,1,Sapato Xadrez,1,368,368,Iguatemi Esplanada
3,21,2019-01-02,1,Camisa Gola V Listrado,2,116,232,Iguatemi Esplanada
4,34,2019-01-02,1,Sapato Listrado,1,363,363,Iguatemi Esplanada
...,...,...,...,...,...,...,...,...
100994,69846,2019-12-25,8,Short Estampa,2,96,192,Salvador Shopping
100995,69846,2019-12-25,8,Tênis Estampa,5,256,1280,Salvador Shopping
100996,69850,2019-12-25,8,Calça Estampa,4,177,708,Salvador Shopping
100997,69972,2019-12-26,8,Terno Liso,3,720,2160,Salvador Shopping
100998,69972,2019-12-26,8,Sapato Estampa,5,358,1790,Salvador Shopping

In [8]:
#Criando um dicionário para armazenar cada loja com suas vendas
tabela_lojas = {}
for loja in lojas['Loja']:
    tabela_lojas[loja] = vendas.loc[vendas['Loja'] == loja, :]

display(tabela_lojas['Iguatemi Esplanada'])

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Loja
0,1,2019-01-01,1,Sapato Estampa,1,358,358,Iguatemi Esplanada
1,1,2019-01-01,1,Camiseta,2,180,360,Iguatemi Esplanada
2,1,2019-01-01,1,Sapato Xadrez,1,368,368,Iguatemi Esplanada
3,21,2019-01-02,1,Camisa Gola V Listrado,2,116,232,Iguatemi Esplanada
4,34,2019-01-02,1,Sapato Listrado,1,363,363,Iguatemi Esplanada
...,...,...,...,...,...,...,...,...
3975,69899,2019-12-25,1,Sapato Xadrez,4,368,1472,Iguatemi Esplanada
3976,69903,2019-12-25,1,Terno Liso,5,720,3600,Iguatemi Esplanada
3977,69928,2019-12-25,1,Meia,1,30,30,Iguatemi Esplanada
3978,69944,2019-12-25,1,Gorro Xadrez,5,85,425,Iguatemi Esplanada
3979,69944,2019-12-25,1,Sapato Xadrez,2,368,736,Iguatemi Esplanada

### Passo 2 - Definir Criar uma Tabela para cada Loja e Definir o dia do Indicador

In [9]:
# UM DOS INDICADORES ENVIADOS NO EMAIL SERA O VALOR DO DIA, LOGO O ULTIMO DIA DA PLANILHA , como identificar o ultimo dia ?
dia_do_indicador = vendas['Data'].max() # Dessa forma sempre vai pegar a maior data, a data mais recente

print(dia_do_indicador)

2019-12-26 00:00:00

### Passo 3 - Salvar a planilha na pasta de backup

In [24]:
#identificar se a pasta ja existe
import pathlib
import os
from pprint import pprint
pasta_backup = pathlib.Path(r'Backup Arquivos Lojas')
arquivos_lista_backup = pasta_backup.iterdir()
lista_nome_backup = [arquivo.name for arquivo in arquivos_lista_backup] #lita com nome das pastas 

print(lista_nome_backup)

for loja, tabela in tabela_lojas.items():
    if loja not in lista_nome_backup: # Dessa forma , caso não surja uma loja nova, ele não vai criar uma nova pasta das lojas que já existem 
        os.makedirs(f'{pasta_backup}/{loja}')
        
    tabela.to_excel(f'{pasta_backup}/{loja}/{dia_do_indicador.day}_{dia_do_indicador.month}_{loja}.xlsx') #criando arquivo excel

[]

### Passo 4 - Calcular o indicador para 1 loja

In [45]:
tabela_ano = tabela_lojas['Iguatemi Esplanada'] #Transformando em tabela
tabela_ultimo_dia = tabela_ano[tabela_ano['Data'] == dia_do_indicador] #filtrando o campo "data" pelo ultimo idia registrado

# Faturamento 
faturamento_ano = tabela_ano['Valor Final'].sum() #recebendo a soma da coluna
meta_fat_ano = 1650000
ultima_dia_faturamento = tabela_ultimo_dia['Valor Final'].sum()
meta_fat_dia = 1000

#diversidade de Produtos
qtde_produtos_ano = len(tabela_ano['Produto'].unique()) # Estou pegando os valores unicos de uma coluna, transformando em uma lista e calculando o tamnho da lista
qtde_produtos_dia = len(tabela_ultimo_dia['Produto'].unique())
meta_qtde_prod_dia = 4
meta_qtde_prod_ano = 120
meta_ticket_medio = 500



#ticket médio
venda_group_cod = tabela_ano.groupby('Código Venda').sum() #Agrupando a tabela utilizando a coluna "Código de Vendas" e somando as outras colunas
ticket_medio_ano = venda_group_cod['Valor Final'].mean() # Calculando a média do valor final

venda_group_cod_dia = tabela_ultimo_dia.groupby('Código Venda').sum()
ticket_medio_dia = venda_group_cod_dia['Valor Final'].mean()
 
display(venda_group_cod , ticket_medio_ano)

C:\Users\João\AppData\Local\Temp\ipykernel_15440\2330846256.py:20: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  venda_group_cod = tabela_ano.groupby('Código Venda').sum() #Agrupando a tabela utilizando a coluna "Código de Vendas" e somando as outras colunas
C:\Users\João\AppData\Local\Temp\ipykernel_15440\2330846256.py:23: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  venda_group_cod_dia = tabela_ultimo_dia.groupby('Código Venda').sum()

              ID Loja  Quantidade  Valor Unitário  Valor Final
Código Venda
1                   3           4             906         1086
21                  1           2             116          232
34                  2           3             481          599
49                  2           4            1077         2495
63                  2           7             218          772
...               ...         ...             ...          ...
69891               1           1              70           70
69899               2           6             731         2198
69903               1           5             720         3600
69928               1           1              30           30
69944               2           7             453         1161

[2137 rows x 4 columns]

795.3584464202153

### Passo 5 - Enviar por e-mail para o gerente

### Passo 6 - Automatizar todas as lojas

### Passo 7 - Criar ranking para diretoria

In [74]:

faturamento_lojas = vendas.groupby('Loja').sum()
ranking_lojas_ano = faturamento_lojas.sort_values('Valor Final',ascending=False)
melhor_loja_ano = ranking_lojas_ano.loc['Iguatemi Esplanada','Valor Final']
# nome_melhor_loja_ano = melhor_loja_ano[0]

display(ranking_lojas_ano, melhor_loja_ano )

C:\Users\João\AppData\Local\Temp\ipykernel_15440\3692555362.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  faturamento_lojas = vendas.groupby('Loja').sum()

,Código Venda,ID Loja,Quantidade,Valor Unitário,Valor Final
Loja,,,,,
Iguatemi Campinas,145499790,98592,8935,796153,1762419
Shopping Vila Velha,152476000,80446,9224,803333,1731167
Bourbon Shopping SP,142577669,57624,8863,791748,1726110
Rio Mar Recife,149070473,28693,8863,798866,1722766
Shopping SP Market,143767529,81600,8927,788086,1721763
Palladium Shopping Curitiba,145545401,63150,9091,796103,1721120
Norte Shopping,145499571,12537,9014,798860,1711968
Ribeirão Shopping,140189391,44528,8825,786547,1707122
Iguatemi Esplanada,138859203,3980,8580,775886,1699681
Rio Mar Shopping Fortaleza,141379782,37062,8937,788921,1698430
Shopping Center Leste Aricanduva,142051349,40930,8938,772549,1682870
Novo Shopping Ribeirão Preto,140372814,93127,8751,773200,1678225
Shopping Iguatemi Fortaleza,139929886,16084,8629,776851,1674824
Center Shopping Uberlândia,138457517,68221,8627,774418,1668921
Shopping União de Osasco,140465649,19975,8730,768268,1663770
Shopping Barra,137802790,99050,8638,764265,1653103
Passei das Águas Shopping,139017557,64000,8618,768205,1649014
Shopping Eldorado,140673367,84042,8719,763800,1648111
Salvador Shopping,142839770,32240,8698,766808,1646739
Shopping Center Interlagos,139838616,24126,8675,769152,1640486
Shopping Ibirapuera,139728506,89122,8723,762115,1635060
Parque Dom Pedro Shopping,136735963,50726,8388,762457,1631630
Shopping Recife,135149305,70038,8581,746038,1624879
Shopping Midway Mall,132268359,7674,8206,738876,1590441
Shopping Morumbi,137023173,47520,8508,746266,1586444

1699681

### Passo 8 - Enviar e-mail para diretoria